html {
  scroll-behavior: smooth;
}

.navbar {
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #C0392B;
    justify-content: space-around;
    width: 100%;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-item{
  margin: 10px;
}

.navbar-dropdown-font {
  text-transform: capitalize;

}

.mask1 {
  mask-image: linear-gradient( transparent 1%, black 75%);
}

.texthero{
  line-height: 1.5;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  max-width: 450px
}







.hero-body .container {
    max-width: 700px;
}

.box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

input::placeholder {
  font-weight: bold;
}

textarea::placeholder {
  font-weight: bold;
}

body {
    overflow-x: hidden;
}
  
.section-one {
  background-color:#E3E8EC;
  position: relative;
  padding: 45px 0 250px;
}

.section-one .section-one__title {
  color: #fff;
  margin-top: -15px;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

.section-one .section-one__descr {
  color: #fff;
  padding-top: 0px;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 1.5;
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}
  
.section-two {
  background-color: #363636;
  padding: 1px 0 50px;
  position: relative; 
}

.section-two .section-two__descr {
  color: #fff;
  line-height: 1.5;
  max-width: 400px;
  margin: -120px auto auto  auto ;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

/*dividers*/
.divider {
  line-height: 0.5;
  text-align: center;
}
.divider span {
  display: inline-block;
  position: relative;  
}
.divider span:before, .divider span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #a0a4bd;
  border-top: 1px solid #a0a4bd;
  top: -5px;
  bottom: 1px;
  width: 150px;
}
.divider span:before {
  right: 100%;
  margin-right: 0px;
}
.divider span:after {
  left: 100%;
  margin-left: 0px;
 }
.divider span2 {
  display: inline-block;
  position: relative;  
}
.divider span2:before, .divider span2:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #a0a4bd;
  border-top: 1px solid #a0a4bd;
  top: 15px;
  bottom: 1px;
  width: 150px;
}
.divider span2:before {
  right: 100%;
  margin-right: 0px;
}
.divider span2:after {
  left: 100%;
  margin-left: 0px;
}  
  /* -------------------------------------------------------------------------
   begin Separator
 * ------------------------------------------------------------------------- */

 .separator {
  bottom: -6px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
  
  /* -------------------------------------------------------------------------
     end Separator
   * ------------------------------------------------------------------------- */
  /* begin Media Max-Width 767
  ============================================================================ */

@media screen and (max-width: 767px) {
    
  .section-one {
    padding: 40px 0 150px;
      
  }

  .section-two {
    padding: 110px 0 50px;
      
  }
  
  .separator {
    bottom: -110px;
  }

  .separator .separator__svg {
    left: -20%;
    position: relative;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    width: 140%;
  }
}
  /* end Media Max-Width 767
  ============================================================================ */

#instafeed {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#instafeed a { 
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  background: white;
}

@media only screen and (min-width: 580px) {
  #instafeed a {
    width: 25%;
  }
}

#instafeed a img {
  display: block;
  width: 330px;
}

@media (max-width: 1087px) {
	:root  {
		font-size: 85%;
  }
}
/*helpers*/
.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
  align-items: center;
  text-align:justify;
}

.center-column {
  flex-direction: column;
}

.center-column {
  justify-content: flex-start;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
  line-height: 1;
}

.container {
  display: flex;
}

.container.space-evenly {
  justify-content: space-evenly;
}

/*end helpers*/

@media (max-width: 1087px) {
	.desktop {
		display: none;
  }   
  .hero { 
    background: black;
  }
}

@media all and (min-width: 1088px) {
  .hidden-desktop {
    display: none !important;
  }
  .hero { 
    background: black;
  }
}

.footer{
  padding-top: 30px; 
  padding-bottom: 45px; 
  background: #E3E8EC;
}

.fa-github-square {
  color: #009E81;
}

#gallery {
  margin-bottom: 80px;
}